// Fonts definitions.
$font__family--poppins: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Fonts utilities
$font__type--default: $font__family--poppins;
$font__type--monospaced: $font__family--poppins;
$font__type--icon: $font__family--poppins;

// Font weights.
$font__weight--thin: 200;
$font__weight--light: 300;
$font__weight--regular: 400;
$font__weight--medium: 600;
$font__weight--bold: 700;
